*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    min-height: 100lvh;
    min-width: 100lvw;
    overflow: hidden;
    font-family: 'Poppins';
    flex-direction: column;
    display: flex;
    background-color: #fff;   
}

.page-content {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
}

.element-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    width: 400px;
    padding: 20px 40px;
    gap: 30px;
    margin: 30px 0;
}

.title-text {
    font-size: 1.9rem;
    font-weight: 500;
    color: #050505;
    width: 100%;
    text-align: center;
    line-height: 1.2;
    margin: 10px 0;
}

form {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 30px;
}

.register-text {
    cursor: pointer;
    align-self: flex-start;
    font-size: 1rem;
    margin-top: -20px;
}

.register-text > a {
    text-decoration: none;
    color: rgb(58, 144, 205);
}

.submit-button {
    border-radius: 8px;
    background-color: rgb(84, 175, 241);
    padding: 10px;
    cursor: pointer;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 150ms linear;
    user-select: none;
}
.submit-button:not(.disableButton):active {
    scale: 0.98;
}
.submit-button:not(.disableButton):hover {
    background-color: rgb(47, 158, 237);
}
.submit-button.disableButton {
    cursor: not-allowed;
    opacity: 0.7;
}

.field-wrapper{
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
}
.field-placeholder{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 10px;
    font-size: 0.95rem;
    color: #050505;
    pointer-events: none;
    transition: 150ms linear;
    background-color: #fff;
    padding: 0 5px;
}
.field-wrapper > input{
    padding: 10px 15px;
    border-radius: 5px;
    outline: 0;
    border: 1px solid #D8D8D8;
    font-size: 0.95rem;
    color: #050505;
    width: 100%;
    font-family: 'Poppins';
    transition: 150ms linear;
}
.field-wrapper > input:not(.invalid):focus {
    border: 1px solid rgb(16, 133, 218);
}
.field-wrapper > input.invalid {
    border: 1px solid red;
}
.field-placeholder.invalid {
    color: red;
}
.field-placeholder.small {
    font-size: 0.8rem;
}


.field-wrapper > input.password {
    padding-right: 30px;
}
.field-wrapper > .eye-svg {
    position: absolute;
    height: 15px;
    width: 15px;
    fill: #000;
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    user-select: none;
}
.eye-svg > svg {
    width: 100%;
    height: 100%;
}

.error-span {
    position: absolute;
    color: red;
    font-size: 0.75rem;
    top: 100%;
    left: 0;
}

.recaptcha-container.failed{
    animation: captcha_failed 150ms linear forwards;
}
@keyframes captcha_failed{
    0%{
        transform: translateX(0px);
    }
    25%{
        transform: translateX(10px);
    }
    50%{
        transform: translateX(-10px);
    }
    75%{
        transform: translateX(10px);
    }
    100%{
        transform: translateX(0px);
    }
}


@media(max-width: 450px){

    .element-wrapper{
        width: 90%;
        padding: 20px 30px;
    }
    .title-text{
        font-size: 1.7rem;
    }
}